.align{
	text-align:center;
	padding-top: 20%;
	color: white;
}
body{
	background:url(https://image.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg);
	background-size: cover;
}